.dialogContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 400px;
  max-width: 500px;
}

.buttonGroup {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
