dialog {
  border: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  outline: none;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.step-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 20px;
}

.step-container p {
  display: flex;
  justify-content: space-between;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.App {
  text-align: center;
  padding: 20px;
}
